.gform-settings-panel .select2-container--default .select2-selection--single {
    height: auto;
    border: 0;
}
.gform-settings-panel .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}
.gform-settings-panel .select2-container--default .select2-selection--single .select2-selection__clear {
    background: white;
    left: 5px;
    border-right: 5px solid white;
}